table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
}

h2 {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background: white;
    margin: auto;
    vertical-align: middle;
}
.btn{
    margin-top: 40px;
    margin-right: 30px;
}