.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.transactionheading{
  height: 150px;
  width: 130px;
  display: flex;
  flex-direction: space-between;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;

}
.inputsearch{
  background-color: #f5b042;
  margin-top: 5px;
  box-sizing: 0px;
  margin-right: 10px;
  margin-bottom: 10px;
}
.selectmonth{
  background-color: #f5b642;
  color: black;
  display: flex;
  padding: 5px;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 10px;
  margin-bottom: 30px;
  border-radius: 10px;
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.search-month-selector-container {
  display: flex;
}